<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
<p><a href="https://www.researchgate.net/profile/Kevin_Jacq"><img src="/images/Researchgate.jpg" width=20></a> 
		&emsp;
		<a href="https://www.linkedin.com/in/kevinjacq"><img src="/images/Linkedin.jpg" width=20></a> 
		&emsp;
		<a href="https://orcid.org/0000-0002-3991-2184"><img src="/images/orcid.png" width=20></a> </p>
                </div>
            </div>
</footer>
