---
layout: default
---
{%- assign _sectionsMatlab = site.sectionsMatlab | sort: 'order' -%}
{%- include header.html scrolly_nav=_sectionsMatlab -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _section in _sectionsMatlab -%}
		{%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_section.content -%}
	{%- endfor -%}

<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>